/* ---------------------- RESET ----------------------*/
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* ---------------------- COMMON ----------------------*/
body {
    font-family: 'Lato', sans-serif;
    /* height: 100vh; */
    background-color: rgb(88, 97, 94);
}
#root {
    height: 100vh;
}

/* ---------------------- HEADER ----------------------*/
header {
    height: 60px;
    width: 100%;
    padding: 10px 20px;
    background-color: rgb(35, 43, 49);
}
.boxHeader {
    height: 100%;
    /* background-color: rgba(175, 132, 14, 0.555); */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logoBox {
    height: 40px;
    width: 40px;
    /* background-color: rgba(175, 46, 14, 0.555); */

    display: flex;
    justify-content: center;
    align-items: center;
} 
.logoBox img {
    height: 100%;
}

/* ---------------------- MAIN ----------------------*/
main {
    height: calc(100% - 60px);
    /* height: calc(100vh - 60px); */
    background-color: rgb(44, 59, 68);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}
.container {
    /* max-width: 660px; */
    /* background-color: rgb(125, 138, 133); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.card {
    padding: 15px;
    height: 260px;
    width: 130px;

    text-align: center;
    background-color: rgb(35, 43, 49);
    color: white;
}
.boxSongImg {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}
.boxSongImg img {
    width: 100%;
}
.infoAlbum {
    color: grey;
    font-size: 14px; 
}
.infoAlbum h5 {
    margin-bottom: 5px;
}
.card h3 {
    font-size: 16px;
    margin-bottom: 10px;
}